body{    
  font-family: 'Roboto Condensed', sans-serif;
  
}
  body{
      background-image:url("../img/architecture-buildings-cars-1095901.jpg");
       
  }

  .container {
    background-color: rgba(43, 37, 48, 0.89);
    margin-bottom: 1rem;
<<<<<<< HEAD
   /* margin-top: -2rem;*/
=======
>>>>>>> 0f6bb4e71ebf70c6e42d46ea51d226509b779243
    

  }

<<<<<<< HEAD
  .welcome {
    color: #bd986b;
    font-weight: 700;
    padding: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
  }
=======
.bold{
  font-weight: 700;
}

>>>>>>> 0f6bb4e71ebf70c6e42d46ea51d226509b779243

.testimonial{
  background: #fff;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 0 15px 100px;
  position: relative;
  margin-top: 5rem;
}

.owl-item {
  height: 90vh;
}

.testimonial:before,
.testimonial:after{
  content: "";
  border-top: 40px solid #fff;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}
.testimonial:after{
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}
.testimonial .icon{
  display: inline-block;
  font-size: 80px;
  color: #bd986b;
  margin-bottom: 20px;
  opacity: 0.6;
}
.testimonial .description{
  font-size: 16px;
  color: #777;
  text-align: justify;
  margin-bottom: 30px;
  opacity: 0.9;
  letter-spacing: -1px;
  height: 20vh;
}
.testimonial .testimonial-content{
  width: 100%;
  position: absolute;
  left: 0;
}
.testimonial .pic{
  display: inline-block;
  border: 6px solid white;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px #daad86;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.testimonial .pic img{
  width: 100%;
  height: auto;
}
.testimonial .title{
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  text-transform: capitalize;
  margin: 0 0 5px 0;
}
.testimonial .post{
  display: block;
  font-size: 14px;
  color: #ffd9b8;
}
.owl-theme .owl-controls{
  margin-top: 60px;
}
<<<<<<< HEAD

.owl-wrapper-outer {
  /*padding-bottom: 5rem;*/
}

=======
>>>>>>> 0f6bb4e71ebf70c6e42d46ea51d226509b779243
.owl-theme .owl-controls .owl-page span{
  width: 32px;
  height: 10px;
  background: #fff;
  border: 2px solid #bd986b;
  margin: 5px;
  opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
  background: #ffd9b8;
  border-color: #fff;
}
  .pic img{
      width: 100px !important;
      height: 50px;
  }

  .btn-start a {
    display: inline-block;
    color: wheat;
    text-decoration: none;
    margin-top: 2rem;
    transition: all .2s;
  }

  .btn-start a:hover {
    transform: scale(1.5);
  }

  .footer {
    color: #bd986b;
    font-size: 1.5rem;
  }

  .bold {
    font-weight: 700;
  }